language: cpp
compiler: gcc
dist: xenial

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update

install:
    - sudo apt-get install -qq g++-7 cmake libgtest-dev
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90
    - sudo cmake /usr/src/gtest/CMakeLists.txt
    - sudo make -C /usr/src/gtest
    - sudo cp /usr/src/gtest/*.a /usr/lib

script:
    - cd cli
    - mkdir cmake-build-debug
    - cd cmake-build-debug
    - cmake ..
    - make
    - ./cli_test
    - cd ../..
